.fixtures {
    .fixtures-footer {
        padding: 0 40px;

        .back-btn {
            width: 120px;
            height: 40px;
            background-color: #008CBA;
            color: white;
            border-radius: 4px;
        }
    }
}